.carinfo {
  .pics {
    .item {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
    :global {
      .swiper-button-prev:after, 
      .swiper-button-next:after {
        color:#fff;
      }
    }
  }
  .data {
    margin:20px 0;
    padding:0 10px;
    h3 {
      font:18px var(--font-headline)
    }
    .price {
       padding:10px 0;
       border-bottom: 1px solid #ccc;;
       span {
          font-size: 20px;
          margin-right:3px;
          color: var(--color-primary);
       }
    }
    .message {
      display: flex;
      list-style-type: none;
      margin:0;
      padding:20px 0 0 0;
      li {
        flex-grow: 1;
        text-align: center;
        border-right:1px solid #ccc;
        line-height: 1.2;
        &:last-child {
          border: 0;
        }
      }
    }
  }
  .testdrive-btn {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color:#fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    margin-top:20px;
    background: var(--color-primary);
    a {
      color: #fff;
    }
  }
  .info-data {
    margin-bottom: 40px;
    ul {
      list-style-type:none;
      margin:0;
      padding:0;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:20px;
      text-align: center;
      li {
        p {
          font-size: 16px;
        }
      }
    }
  }
  .pics-col {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  .dealer {
    margin-bottom: 40px;
  }
}

@media (min-width:768px) {
  .carinfo {
    padding: 50px 0;
    .head-info {
      width: 94%;
      max-width: 1200px;
      margin:0 auto 40px;
      overflow: hidden;
      .pics {
        width: 40%;
        float: left;
      }
      .data {
        float: left;
        box-sizing: border-box;
        width: 50%;
        padding-left:40px;
        .price {
          font-size: 18px;
          span {
            font-size: 28px;
          }
        }
        .message {
          font-size: 18px;
        }
      }
      .testdrive-btn {
        display: inline-block;
        padding:0 40px;
        border-radius: 0;
        margin-top:30px;
      }
    }
    .info-data {
      ul {
        grid-template-columns: repeat(4,1fr);
        font-size: 16px;
        li {
          color:#666;
          p {
            font-size: 20px;
            color:#333;
          }
        }
      }
    }
    .pics-col {
      .list {
        column-count: 2;
      }
    }
  }
}