@use 'sass:color';
@use 'sass:math';
@import 'variables';
@import 'fonts';
@import 'components/child.module';

.finance {
  color: #333;
  --color-gray:#999;
  --color-gray-light:#dedede;

  :global{
    .noscroll {
      overflow:hidden;
    }
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    width: 94%;
  }

  .title {
    font-size: 26px;
    line-height: 27px;
    letter-spacing: 26 / 1920 * 60px;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    position: relative;
    box-sizing: border-box;
    font: 600 20px $font-headline;

    &::after {
      content: "";
      width: 35px;
      display: block;
      height: 1px;
      background: #e40032;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }

  .product {
    .itemWrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 40px 0;
      grid-column-gap: 60px;

      .item {
        h6 {
          font-size: 24px;
          font-weight: normal;
          margin-bottom: 30px;
          letter-spacing: 24 / 1920 * 25px;

          span {
            display: inline-block;
            width: 42px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            font-size: 26px;
            border: 1px solid #e40032;
            border-radius: 42px;
            color: #e50e3d;
            margin-right: 15px;
          }
        }

        p {
          font-size: 16px;
          line-height: 1.5em;
         // letter-spacing: 18 / 1920 * 50px;
         // font-family: $font-text;
        }
      }
    }
  }

  .chedai {
    .category_nav {
      font-family: $font-headline;
      font-weight: 600;
      float: right;

      span {
        font-size: 18px;
        padding: 0 40px;
        cursor: pointer;

        &.active {
          color: #e40032;
        }
      }
    }

    .swiper-box {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .slide {
      text-align: center;
      font-family: $font-headline;
      font-weight: 600;
      height: 320px;
      overflow: hidden;
      cursor: pointer;
      padding: 0 10px;
      box-sizing: border-box;

      &:hover {
        box-shadow: 3px 0 20px rgba(0, 0, 0, .05), -3px 0 20px rgba(0, 0, 0, .05);
      }
      position: relative;
      .pic {
        display: block;
        font-size: 18px;

        img {
          display: block;
          height: auto;
          width: 100%;
        }
      }
      .inner {
        .name {
          font:600  18px  $font-headline;
        }
        .price {
          font-size: 12px;
          display: block;
          margin-top: 5px;
          sup {
            top:-0.1em;
          }
        }
      }
      .btn {
        display: inline-block;
        border: 1px solid #e40032;
        padding: 5px 30px;
        color: #e40032;
        margin-top: 20px;
        font-size:14px;
      }
    }

    .gmacLoan {
      .loan_title {
        height: 40px;
        line-height: 40px;
        background: #e40032;
        font-family: $font-headline;
        color: #fff;
        margin-bottom: 20px;
        .name {
          font-size: 20px;
          color: #fff;
          margin-right: 10px;
          font-weight: 600;
        }
        .price {
          font-size: 12px;
          sup {
            top:-.2em;
          }
        }
      }

      .testdrive {
        margin: 0 auto;
        padding-bottom: 50px;

        h2 {

          margin: 20px 0;
          font: 600 22px $font-headline
        }

        .form {
          display: grid;
          gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          .group {
            border-bottom: 1px solid #d6d6d6;
            display: flex;
            font-size: 16px;
            label {
              line-height: 30px;
            }
            select,
            input {
              flex: 1;
              outline: 0;
              appearance: none;
              background: none;
              border: 0;
              height: 30px;
              text-align: center;
              text-align-last: center;
              color: #333;
              font-weight: 600;
            }

            select {
              background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="crimson" viewBox="0 0 10 5.64"><path d="M0,.64.69,0,5,4.4,9.38,0,10,.63l-5,5Z"/><polygon points="9.38 0.01 4.99 4.4 0.69 0 0 0.64 4.99 5.64 10 0.63 9.38 0.01"/></svg>');
              background-repeat: no-repeat;
              background-position: 99% center;
              background-size: 10px;

              option {
                text-align: center;
              }

            }
          }

          .agreement,
          .tips {
            text-align: center;
            grid-column: span 3;
            vertical-align: middle;
          }

          .agreement {
            font-size: 18px;
            margin-top: 30px;

            input {
              width: 0;
              height: 0;
              opacity:0;
            }

            .mark {
              border: solid 1px $color-dark;
              cursor: pointer;
              display: inline-block;
              height:10px;
              margin-right: .4em;
              margin-top: -3px;
              position: relative;
              width:10px;
            }

            .mark-checked {
              &::after {
                background: $color-primary;
                content: "";
                height: 6px;
                left: 2px;
                position: absolute;
                top: 2px;
                width: 6px;
              }
            }

            a {
              color: #000;
              cursor: pointer;
            }
          }

          .tips {
            font-size: 14px;
            color: #6e6e6e;
          }

          .submit {
            text-align: center;
            grid-column: span 3;
            margin-top: 20px;

            button {
              outline: none;
              appearance: none;
              border: 0;
              background: none;
              width: 260px;
              height: 60px;
              line-height: 60px;
              font-size: 20px;
              color: #fff;
              background: #e40032;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .stepWrap {
    border: 1px solid #999;
    border-top: 0;
    padding: 60px 120px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-items: center;
    margin-bottom: 80px;

    .step {
      .icon {
        width: 80px;
        height: 80px;
        fill: #333;
        stroke: #333;
        margin: 0 auto;
      }

      p {
        font-size: 16px;
        margin-top: 30px;
      }
    }
    .arrow {
      width: 10px;
      height: 10px;
      border: transparent;
      border-top: 2px solid rgba(0, 0, 0, .5);
      border-right: 2px solid rgba(0, 0, 0, .5);
      transform: rotate(45deg);
      margin-top: 30px;
    }
  }

  .question {
    .tabBar {
      margin: 30px 0;
      font-family: $font-headline;
      font-weight: 600;
      span {
        display: inline-block;
        font-size: 16px;

        margin-right: 60px;
       // letter-spacing: 26 / 1000 * 50px;
        cursor: pointer;

        &::after {
          content: '';
          vertical-align: top;
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-top: 0px;
          margin-left: 10px;
          box-sizing: border-box;
        }
        &.active {
          &::after {
            border-right: 2px solid #e40032;
            border-bottom: 2px solid #e40032;
            transform: rotate(45deg);

          }
        }
      }
    }

    .answer {
     // .item {
        .content{
          padding:0 0 30px;
          font-weight: 600;

          ul{
            list-style:none;
            padding:0;
            margin:0;
            li{
             
              margin:0;
              &.active{
                h4{
                  font-family: $font-headline;
                  border-top: 1px solid var(--color-gray-light);
                  display: flex;
                  padding: 15px;
                  cursor: pointer;
                  &::before{
                    transform: rotate(0);
                  }
                }
                p{
                  display:flex;
                  line-height: 1.5em;
                  border-top: 1px solid var(--color-gray-light);
                  font-size:14px;
                  span {
                    font-style:initial;
                    font-weight: initial;
                    font-family: inherit;
                  }
                }
              }
              h4{
                margin:0;
                border-top:1px solid var(--color-gray-light);
                font:600 16px var(--font-headline);
                display: flex;
                padding:15px;
                cursor: pointer;
                &::before{
                  content:'';
                  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="crimson" viewBox="0 0 10 5.64"><path d="M0,.64.69,0,5,4.4,9.38,0,10,.63l-5,5Z"/><polygon points="9.38 0.01 4.99 4.4 0.69 0 0 0.64 4.99 5.64 10 0.63 9.38 0.01"/></svg>');
                  background-repeat: no-repeat;
                  background-position: 100% center;
                  background-size:12px;
                  padding-left:12px;
                  margin-right:15px;
                  transform: rotate(-90deg);
                }
                i{
                  font-style:initial;
                }
              }
              p{
                display: flex;
                padding:15px 0 15px 34px;
                display:none;
                box-sizing: border-box;
                border-top:1px solid var(--color-gray-light);
                &::before{
                  content:'A:';
                  padding-left:12px;
                  margin-right:5px;
                  font:600 16px var(--font-headline);
                  color: var(--color-primary);
                }
              }
            }
          }
      //  }
        // dt {
        //   padding: 20px;
        //   font-size: 23px;
        //   border-top: 1px solid #d6d6d6;
        //   border-bottom: 1px solid #d6d6d6;
        //   margin-top: -1px;
        //   cursor: pointer;

        //   &::before {
        //     content: "";
        //     display: inline-block;
        //     width: 20px;
        //     height: 20px;
        //     border-bottom: 2px solid #e40032;
        //     border-right: 2px solid #e40032;
        //     transform: rotate(-45deg);
        //     vertical-align: middle;
        //     margin-top: -5px;
        //     margin-right: 30px;
        //     transition: all ease .3s;
        //   }

        //   &.active {
        //     &::before {
        //       transform: rotate(45deg);
        //       margin-top: -10px;
        //     }
        //   }
        // }

        // dd {
        //   padding: 20px 20px 20px 110px;
        //   line-height: 34px;
        //   text-indent: -2em;
        //   margin: 0;
        //   font-size: 20px;
        //   letter-spacing: 20 / 1000 * 25px;
        //   display: none;
        //   font-weight: normal;
        //   span {
        //     color: #e50e3d;
        //   }

        //   &.active {
        //     display: block;
        //   }
        // }
      }
    }
  }

  .aboutus {
    .aboutusWrap {
      .row {
        padding: 45px 0;
        overflow: hidden;
        border-top: 1px solid #d6d6d6;

        .pic {
          float: left;
          width: 468px;
          img {
            width: 100%;
          }
        }

        .content {
          padding-left: 500px;

          h4 {
            margin:0 0 20px 0;
            font: 600 18px $font-headline;
          }

          p {
            font-size: 16px;
            line-height: 1.5em;
          //  letter-spacing: 14 / 1000 * 25px;
          }

          .good {
            margin: 25px 0;
            h5 {
              font-size: 14px;
              margin-bottom: 10px;
              font-weight: 600;
            }
          }

          .phone {
            font-size: 16px;
            font-weight: 600;
            span {
              margin-right: 40px;
            }
          }
        }

        &:nth-child(2) {
          .pic {
            float: right;
          }

          .content {
            padding: 0 488px 0 0;
          }
        }
      }
    }
  }

}
@media (max-width: 1199.98px) {
  .finance {
    .stepWrap {
      padding:50px 120px;
    }
    .chedai {
      .slide {
        height:260px;
        .inner {
          .name {
            font-size:16px;
          }
        }
      }
      .category_nav {
        span {
         font-size:18px;
         padding:0 15px;
        }
     }
      .gmacLoan {
          .testdrive {
            .form {
            .submit {
              button {
                width: 260px;
                height: 40px;
                line-height: 40px;
              }
            }
          }
        }
        
      }
    }
    .aboutus {
      .aboutusWrap {
        .row {
          .content {
            h4 {
              font-size: 16px;
              margin-bottom: 15px;
            }
            p {
              font-size:13px;
            }
            
          }
        }
      }
    }

  }

}
@media (max-width: 991.98px) {
  .container {
    width: 94%;
  }
  .finance {
    .container {
      width: 94%;
    }
    .product {
      .itemWrap {
        grid-column-gap:20px;
      }
    }
      .chedai {
        .slide {
          height:260px;
          .inner {
            .name {
              font-size:16px;
            }
            .price {
              font-size:12px;
            }
          }
        }
        .category_nav {
          span {
           font-size:16px;
           padding:0 15px;
          }
       }

      .gmacLoan {

        .testdrive {
   
          .form {
             display:block;
            .group {
              margin-bottom:20px;
              width: 48%;
              vertical-align: top;
              font-size: 14px;
              &:nth-child(odd) {
                float: left;
              }
              &:nth-child(2n) {
                float: right;
              }
            }
            .agreement {
              clear: both;
              padding:20px 0;
              margin:0;
            }
          }
        }
      }
    }

    .stepWrap {
      padding:50px;
    }

    .aboutus {
      .aboutusWrap {
        .row {
          .pic {
            width: 40%;
          }
          .content {
            padding-left:45%;
            .phone {
              span {
                display: block;
              }
            }
          }
          &:nth-child(2){
            .content {
              padding-right:45%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .finance {
    
    .title {
      font-size: 14px;
      padding-bottom: 10px;
      display: flex;
      .category_nav {
        max-width: 600px;
        width: 70%;
        box-sizing: border-box;
        overflow-y: auto;
        white-space: nowrap;
        span {
          font-size: 16px;
          padding: 0 7%;
        }
      }
    }

    .product {
      .itemWrap {
        display: block;
        padding: 20px 0;

        .item {
          margin-bottom: 20px;

          h6 {
            font: 600 16px $font-headline;
            margin: 0;

            span {
              width: 24px;
              height: 24px;
              line-height: 24px;
              font-size: 13px;
            }
          }

          p {
            padding-left: 12%;
            font-size: 14px;
          }
        }
      }
    }

    .chedai {
      .title {
        display: block;
        text-align: left;
        .category_nav {
          float:right;
          span {
            font-size:14px;
          }
        }
      }
      .slide {
        height: 260px;
        padding: 0 5px;
        .inner {
          .name {
            font-size: 16px;
          }

          .price {
            font-size: 12px;
            sup {
              top:-0.3em
            }
          }
        }

        .btn {
          display: block;
          padding: 5px 0;
          width: 80%;
          font-size:14px;
          margin:20px auto 0;
          text-align: center;
        }
      }

      .gmacLoan {
        .loan_title {
          padding: 0;
          height: 40px;
          line-height: 40px;
          margin:0;
          .container {
            width: 94%;
            padding: 0;
          }

          .name {
            font-size: 18px;
            margin-right: 10px;
          }
        }

        .testdrive {
          h2 {
            font-size: 18px;
          }

          .form {
            display: block;
            .group {
              margin-top: 18px;
              font-size: 13px;
              width: 100%;
              label {
                line-height: 100%;
              }
              select,
              input {
                height: 100%;
                width: 100%;
                font-size: 14px;
              }

            }
            .agreement {
              text-align: left;
              font-size:14px;
              margin:20px 0;
            }
            .tips {
              text-align: left;
            }
            .submit {
              button {
                width: 100%;
                height: 40px;
                line-height: 40px;
              }
             
            }
          }
        }
        
      }
    }
    .stepWrap {
      padding:20px 0;
      grid-template-columns: auto 5px auto 5px auto 5px auto;
      margin-bottom:50px;
      .step {
        display:inline-block;
        vertical-align: middle;
        .icon {
          width: 30px;
          height: 30px;
         
        }
        &:nth-child(7){
          .icon {
            width: 40px;
          }
        }
        p {
          margin-top:20px;
          font-size:12px;
        }
      }
      .arrow {
        display:inline-block;
        vertical-align: top;
        width:4px;
        height: 4px;
        border-top:1px solid rgba(0,0,0,.5);
        border-right:1px solid rgba(0,0,0,.5);
        margin:10px 0 0;
       
      }
    }
    .question {
      .tabBar {
        display: flex;
        white-space:nowrap;
        overflow-y: auto;
        width: 100%;
        column-gap: 20px;
        margin:20px 0;
        span {
          font-size:16px;
          margin:0;
          &::after {
            width: 6px;
            height: 6px;
            margin-top:4px;
          }
        }
      }
      .answer {
        .content {
          font-size: 3vw;
        }

      }
    }
    .aboutus {
      .container {
        width: 100%;
        .titles-wrap {
          width: 86%;
          margin:0 auto;
        }
      }
      .aboutusWrap {
        .row {
          padding:0;
          .pic {
            float:none;
            width:100%;
          }
          .content {
            padding:40px 0 60px;
            width: 86%;
            margin:0 auto;
            h4 {
              font-size:14px;
            }

            .phone {
              line-height: 1.2em;
              span {
                display:block;
                font-size:14px;
              }
            }
            .good {
              margin:10px 0;
            }
            
          }
          &:nth-child(2) {
            .pic {
              float:none;
            }
            .content {
              padding:40px 0 60px;
            }
          }
        }
      }
     
    }
  }

}
