@use 'sass:color';
@use 'sass:math';
@import 'variables';

@function sizePc($n, $base: 1920) {
  @return math.div($n, $base)*100vw
}
@function sizeMobile($n, $base: 750) {
  @return math.div($n, $base)*100vw
}

.series-swiper {
  height: 100vh;
}

.main {
  :global {
    .scrollbar-track {
      width:6px;
      background: transparent;

      .scrollbar-thumb {
        border-radius: 0;
        background: var(--color-primary);
      }
    }
  }
}

.kv {
  height: calc(100% - $series-nav-height-lg);
}

.miniprogram-code{
  background-color: $color-dark;
  padding:sizePc(80) 0;
  .title{
    width:80%;
    max-width:sizePc(800);
    margin:0 auto;
    line-height:1;
    color:#fff;
    text-align: center;
    position: relative;
    &::after,
    &::before{
      content:'';
      width:28%;
      position: absolute;
      border-top:1px solid #fff;
      top:50%;
      left:0;
      transform: translateY(-50%);
    }
    &::after{
      right:0;
      left:initial;
    }
    h3{
      font:400 sizePc(32) $font-headline;
      margin:0;
    }
    p{
      margin:0;
      font-size:sizePc(26);
    }
  }
  .code{
    border:1px solid #fff;
    width:30%;
    max-width:sizePc(200);
    padding:sizePc(10);
    margin:sizePc(30) auto 0;
    img{
      display:block;
    }
  }
}

@keyframes arrow-shake {
  to { transform: translate(0, 20%) }
}



.scroll-hint {
  bottom: 50px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0) scaleY(-0.8);
  width: 32px;
  z-index: 8;

  svg {
    animation: arrow-shake .4s ease-in-out infinite alternate;
    display: block;
    fill: #fff;
  }
}

.kv-info {
  align-items: center;
  bottom: 90px;
  display: flex;
  left: 15%;
  justify-content: space-between;
  position: absolute;
  width: 70%;
  z-index: 1;
  flex-shrink:0;

  &.kv-info-col-2 {
    justify-content: space-evenly;
  }
  .line {
    background: #000;
    display: block;
    height: 1.8rem;
    width: 1px;
    margin:0 3%;
  }
  .item {
    figure {
      margin: 0;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: normal;
      margin: 0;

      sub {
        bottom: 0;
        font-size: 50%;
      }
    }
    p {
      font-size: 0.9rem;
      margin: 0;
    }
  }

  &.theme-light {
    .line {
      background: rgba(#fff, 0.8);
    }
    .item {
      color: #fff;
    }
  }

  &.align-left {
    left: 12vw;
    justify-content: flex-start;
  }
}

:global(.theme-light) {
  .kv-info {
    .line {
      background: rgba(#fff, 0.8);
    }
    .item {
      color: #fff;
    }
  }
}

.btnbar {
  display: none;
}

.swiper-pagination-custom-fbi {
  height: 100vh;
  position: absolute;
  left: 40px;
  top: 0;
  border-left: 1px solid rgba($color: $color-light, $alpha: 0.5);
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0.8s;
  }

  .swiper-pagination-bullets {
    list-style: none;
    color: rgba($color: #fff, $alpha: 0.4);
    font-size: 15px;
    padding: 0;
    margin-left: -1px;
    position: sticky;
    transform: translateY(60vh);
    top: 0;

    .bullet {
      width: auto;
      background-color: transparent;
      border-radius: 0;
      padding-left: 30px;
      opacity: 1;
      height: 40px;
      border-left: 2px solid rgba($color: #fff, $alpha: 0.01);
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family:$font-headline;
      transition: all .15s;

      &:first-child {
        display: none;
      }

      &:hover,
      &.active {
        height: 60px;
        color: #fff;
        font-size: 18px;
      }

      &.active {
        border-left: 2px solid var(--color-primary);
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

.quicklink {
  bottom:40%;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 5;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    pointer-events: inherit;

    li {
      align-items: center;
      // background: rgba($color: $color-dark, $alpha: 0.95);
      background: var(--color-primary);
      color: #fff;
      cursor: pointer;
      display: flex;
      margin-top: 1px;
      padding: 6px;
      pointer-events: all;
      transform: translate(calc(100% - 40px));
      transition: transform .4s $ease-quad-in;
      white-space: nowrap;

      &:hover {
        transform: none;
        transition-duration: .3s;
        transition-timing-function: $ease-quad-out;
        // background: var(--color-primary);
      }
      .icon {
        fill: #fff;
        stroke: #fff;
        width: 28px;

        svg {
          display: block;
        }
      }
      span {
        font-size: 14px;
        font-family: $font-headline;
        padding: 0 1em 0 0.6em;
      }
    }
  }
}

.promo {
  display: none;
  height: var(--view-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &-show {
    display: block;
  }
  .container {
    background: #fff;
    border: solid 1px var(--color-primary);
    // box-shadow: 0 0 18px 5px rgba($color: #000, $alpha: 0.2);
    box-sizing: border-box;
    left: 50%;
    padding-top: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    // width: 90vw;
    max-width: 1440px;
  }
  .close {
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    z-index: 1;

    &:hover {
      :global(.icon-close) {
        &::after,
        &::before {
          background-color: var(--color-primary);
        }
      }
    }
  }
  h2 {
    font-family: var(--font-headline);
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    position: relative;
    text-align: center;

    small {
      align-items: center;
      color: var(--color-primary);
      column-gap: 8px;
      display: flex;
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 5px;
      justify-content: center;

      &::before,
      &::after {
        background-color: var(--color-primary);
        content: "";
        height: 1px;
        width: 8px;
      }
      span {
        padding-left: 1px;
      }
    }
  }
  figure {
    fill: var(--color-primary);
    margin: 0 10px 0 0;
    stroke: var(--color-primary);
    width: 56px;

    svg {
      margin: -10% -10% -20%;
      width: 120%;
    }
  }
  .content {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    margin: 0 4.5vw;
    padding: 40px 0 60px;
    row-gap: 50px;
    // width: 90%;
    max-width: 1200px;

    .item {
      min-width: 24vw;

      .wrapper {
        display: flex;
      }
      .text {
        align-self: flex-end;
      }
      strong {
        display: block;
        font: 24px $font-headline;
        margin-bottom: 2px;

        sup {
          font-size: 50%;
          top:-1em;
        }
      }
      span {
        font-size: 14px;
      }
    }
  }
  .footer {
    background: $color-light;
    font-size: 12px;
    // height: 30px;
    line-height: 16px;
    padding: 0.8em 1.5em;

    br {
      content: ' ';
      padding-left: 1em;
    }
  }
}

.testdrive {
  display: flex;

  &.avenir,
  &.velite,
  &.electra {
    display: block;
    position: relative;
    text-align: right;

    figure {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;

      :global(.pc) {
        height: 100%;
        position: relative;
      }
    }

    .container {
      color: #fff;
      display: inline-block;
      padding-left: 9vw;
      padding-right: 9vw;
      position: relative;
      text-align: left;
      width: auto;
      &::before{
        content:'';
        width: 90%;
        height: 100%;
        background: linear-gradient(180deg,rgba(0,0,0,.4), transparent);
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
      }
      h4,form{
        position: relative;
        z-index:1;
      }
      .control-base {
        border-color: rgba($color: #fff, $alpha: 0.2);
        color: #fff;
        &:focus {
          border-bottom-color: rgba($color: #fff, $alpha: 0.5);
        }
        &::-webkit-input-placeholder{
          color: $color-light;
        }
      }
      .footer {
        .agreement {
          label {
            .mark {
              border-color: $color-light;
            }
            .mark-checked::after {
              background: $color-light;
            }
            a {
              border-color: $color-light;
            }
          }
        }
      }
    }
  }
  &.velite,
  &.electra {
    .select-base {
      background-image: url('../public/img/common/drop.png');
    }
  }

  figure {
    flex: 1 1 auto;
    margin: 0;
    position: relative;

    &::before {
      background-image: linear-gradient(165deg, rgba(0,0,0,0.25), transparent 40%);
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: soft-light;
      pointer-events: none;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    .text {
      color: #fff;
      left: 15%;
      position: absolute;
      text-align: left;
      top: 50px;
      z-index: 1;

      &.dark{
        color:var(--color-dark)
      }
      h3 {
        font: 600 30px $font-headline;
        margin: 0;
      }
      small {
        font-size: 14px;
      }
    }
    &.dark {
      &::before {
        background-image: linear-gradient(165deg, rgba(255,255,255,0.3), transparent 50%);
        mix-blend-mode: overlay;
      }
      .text {
        color: var(--color-dark);
      }
    }
    > :global(.pc) {
      height: 100%;
      position: relative;
    }
    img {
      display: block;
      height: auto;
      object-fit: cover;
      width: 100%;
    }
  }
  &.electra {
    .container {
      min-height: 55vh;
    }
  }
  .container {
    padding: 50px 60px 80px;

    .control-base {
      appearance: none;
      background: none;
      border: 0;
      border-bottom: solid 1px rgba($color: $color-dark, $alpha: 0.25);
      border-radius: 0;
      box-sizing: border-box;
      font-size: 16px;
      height: 26px;
      line-height: 26px;
      outline: 0;
      padding:0;
      width: 100%;

      &:focus {
        border-bottom-color: rgba($color: $color-dark, $alpha: 0.5);
      }
    }
    .select-base {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="crimson" viewBox="0 0 10 5.64"><path d="M0,.64.69,0,5,4.4,9.38,0,10,.63l-5,5Z"/><polygon points="9.38 0.01 4.99 4.4 0.69 0 0 0.64 4.99 5.64 10 0.63 9.38 0.01"/></svg>');
      background-repeat: no-repeat;
      background-position: 99% center;
      background-size: 8px;
      color: $color-dark;
      padding-right: 1em;
    
      &::-ms-expand {
        display: none;
      }
    }
    h4 {
      font: 600 30px $font-headline;
      margin: 0 0 30px;
    }
    .content {
      column-gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      width: 440px;

      .group {
        position: relative;

        :global(.loading) {
          background: none;
          box-shadow: none;
          left: auto;
          pointer-events: none;
          right: 1em;
          transform: translate(0, -50%);
        }
      }

      input.control, select {
        @extend .control-base;
      }
      select {
        @extend .select-base;

        optgroup, option:disabled {
          color: color.scale($color: $color-dark, $whiteness: 90%);
          font-weight: normal;
        }
        option {
          color: $color-dark;
        }
      }
    }
    .footer {
      .agreement {
        font-size: 14px;
        margin: 30px 0 60px;

        label {
          align-items: center;
          display: flex;

          input {
            height: 0;
            width: 0;
            opacity: 0;
          }
          .mark {
            border: solid 1px $color-dark;
            cursor: pointer;
            display: block;
            height: 10px;
            margin-right: .4em;
            position: relative;
            width: 10px;
          }
          .mark-checked::after {
            background: var(--color-primary);
            content: "";
            height: 6px;
            left: 2px;
            position: absolute;
            top: 2px;
            width: 6px;
          }
          a {
            border-bottom: solid 1px $color-dark;
            color: inherit;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
      :global(.btn) {
        display: block;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1599.98px) {
  .promo {
    .container {
      max-width: 1180px;
    }
    h2 {
      font-size: 32px;

      small {
        font-size: 20px;
      }
    }
    figure {
      width: 40px;
    }
    .content {
      .item {
        strong {
          font-size: 24px;
          line-height: 28px;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }

  .testdrive {
    figure {
      .text {
        h3 {
          font-size: 30px;
        }
        small {
          font-size: 14px;
        }
      }
    }
    .container {
      .control-base {
        font-size: 16px;
        height: 26px;
        line-height: 26px;
      }
      .content {
        width: 428px;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .kv {
    height: calc(100% - $series-nav-height-md);

    &-content {
      font-size: 24px * 0.85;

      h2 {
        font-size: 54px * 0.85;
      }

      .btns {
        margin-top: 20px * 0.85;

        >div {
          width: 190px * 0.85;
          height: 45px * 0.85;
          margin-right: 20px * 0.85;
          font-size: 16px * 0.85;
        }
      }
    }
  }

  .kv-info {
    bottom: 80px;
    left: 15%;
    position: absolute;
    width: 70%;
    z-index: 1;
  
    .line {
      height: 1.6rem;
    }
    .item {
      h4 {
        font-size: 1.4rem;
        font-weight: normal;
        margin: 0;
      }
      p {
        font-size: 0.7rem;
        margin: 0;
      }
    }
  }

  .swiper-pagination-custom-fbi {
    left: 40px * 0.85;

    .swiper-pagination-bullets {
      font-size: 15px * 0.85;

      .bullet {
        padding-left: 30px * 0.85;
        height: 40px * 0.85;

        &:hover,
        &.active {
          height: 60px * 0.85;
          font-size:18px * 0.85;
        }
      }
    }
  }

  .quicklink {
    ul {
      li {
        padding: 4px;
        transform: translate(calc(100% - 40px));

        .icon {
          width: 32px;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }

  .promo {
    .container {
      padding-top: 28px;
      max-width: 900px;
    }
    h2 {
      font-size: 30px;

      small {
        font-size: 20px;
      }
    }
    figure {
      margin-right: 6px;
      width: 36px;
    }
    .content {
      padding: 35px 0 50px;
      row-gap: 50px;

      .item {
        strong {
          font-size: 22px;
          line-height: 25px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }

  .testdrive {
    figure {
      .text {
        h3 {
          font-size: 28px;
        }
        small {
          font-size: 13px;
        }
      }
    }
    .container {
      padding: 40px 50px 50px;

      .control-base {
        font-size: 15px;
        height: 25px;
        line-height: 25px;
      }
      h4 {
        font-size: 28px;
      }
      .content {
        row-gap: 20px;
        width: 400px;
      }
      .footer {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .kv {
    height: calc(100vh - $series-nav-height-sm);

    &-content {
      font-size: 24px * 0.75;

      h2 {
        font-size: 54px * 0.75;
      }

      .btns {
        margin-top: 20px * 0.75;

        >div {
          width: 190px * 0.75;
          height: 45px * 0.75;
          margin-right: 20px * 0.75;
          font-size: 16px * 0.75;
        }
      }
    }
  }

  .kv-info {
    bottom: 70px;
    left: 15%;
    position: absolute;
    width: 70%;
  
    .line {
      height: 1.5rem;
    }
    .item {
      h4 {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0;
      }
      p {
        font-size: 0.6rem;
        margin: 0;
      }
    }
  }

  .swiper-pagination-custom-fbi {
    left: 40px * 0.75;

    .swiper-pagination-bullets {
      font-size: 15px * 0.75;

      .bullet {
        padding-left: 30px * 0.75;
        height: 40px * 0.75;

        &:hover,
        &.active {
          height: 60px * 0.75;
          font-size: 18px * 0.75;
        }
      }
    }
  }

  .promo {
    h2 {
      font-size: 28px;
      margin-bottom: 20px;

      small {
        font-size: 16px;
      }
    }
    figure {
      margin-right: 6px;
      width: 32px;
    }
    .content {
      row-gap: 40px;

      .item {
        strong {
          font-size: 18px;
          line-height: 22px;
        }
        span {
          font-size: 13px;
        }
      }
    }
    .footer {
      font-size: 10px;
      // height: 20px;
      line-height: 12px;
      padding: 0.5em 1em;
    }
  }

  .testdrive {
    .container {
      padding: 60px 40px;

      .control-base {
        font-size: 16px;
        height: 28px;
        line-height: 28px;
      }
      h4 {
        font-size: 28px;
      }
      .content {
        column-gap: 16px;
        row-gap: 30px;
        width: 320px;
      }
      .footer {
        .agreement {
          margin: 26px 0;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .subnav{
    display:none;
  }
  .kv {
    height:100vh;

    picture {
      height: 100%;
    }

    &-content {
      font-size: 18px;
      padding: 16vh 25px 0;
      margin: 0 auto;

      h2 {
        font-size: 28.5px;
      }

      .btns {
        display: flex;
        margin-top: 15px;

        >div {
          width: 140px;
          height: 38px;
          margin-right: 15px;
          font-size: 14px;
        }
      }
    }
  }

  .kv-info {
    align-items: center;
    bottom: calc(100vh - var(--view-height) + 30vw + env(safe-area-inset-bottom));
    display: flex;
    left: 24px;
    position: absolute;
    width: calc(100% - 48px);
    z-index: 1;

    &.align-left {
      left: 6.667%;
    }
    &.has-price {
      .line:nth-last-child(2) {
        display: none;
      }
    }
    .line {
      background: #000;
      display: block;
      height: 1rem;
      width: 1px;
    }
    .item {
      figure {
        margin: 0;
      }
      h4 {
        font-size: 0.8rem;
        font-weight: normal;
        margin: 0;
  
        sub {
          bottom: 0;
          font-size: 50%;
        }
      }
      p {
        font-size: 0.5rem;
        margin: 0;
      }
    }
    .item-price:last-child {
      bottom: 100%;
      left:0;
      margin-bottom: 12px;
      position: absolute;

      h4 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.65rem;
      }
    }
  }

  .scroll-hint {
    bottom: calc(100vh - var(--view-height) + 12.5vw + env(safe-area-inset-bottom));
  }

  .swiper-pagination-custom-fbi {
    display: none;
  }

  .promo {
    .container {
      padding-top: 20px;
      width: 90%;
    }
    .close {
      height: 30px;
      right: 10px;
      top: 10px;
      width: 30px;
    }
    h2 {
      font-size: 22px;

      small {
        align-items: center;
        column-gap: 5px;
        display: flex;
        font-size: 18px;
        margin-bottom: 5px;
        justify-content: center;

        &::before,
        &::after {
          background-color: var(--color-primary);
          content: "";
          height: 1px;
          width: 8px;
        }
        span {
          padding-left: 1px;
        }
      }
    }
    figure {
      margin-right: 12px;
    }
    .content {
      display: flex;
      flex-direction: column;
      margin: 0 30px;
      padding: 0 0 30px;
      row-gap: 18px;
      width: auto;

      .item {
        strong {
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
        }
        span {
          font-size: 12px;
        }
      }
    }
    .footer {
      text-align: left;

      br {
        content: none;
        padding: 0;
      }
    }
  }

  .btnbar {
    width: 100vw;
    height: $series-nav-height-xs;
    left: 0;
    bottom: 0;
    position: sticky;
    display: flex;
    background-color: #fff;
    z-index: 10;

    &-btn {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--color-primary);
      color: var(--color-primary);
      font: 14px $font-headline;

      &:first-child {
        border-right: 1px solid var(--color-primary);
      }
    }
  }

  .quicklink {
    display: none;
  }

  .testdrive {
    display: block;

    &.avenir,
    &.velite,
    &.electra {
      figure {
        position: relative;
      }
      .container {
        background: #000;
        display: block;
        padding-top:30px;
        padding-bottom:60px;
        &::before{
          display:none;
        }
        h4 {
          margin-top: calc(1em - 10px);
        }
      }
    }
    &.velite,
    &.electra {
      .container {
        background: #fff;
        color: $color-dark;

        .control-base {
          border-bottom: solid 1px rgba($color: $color-dark, $alpha: 0.25);
          color: $color-dark;
          &::-webkit-input-placeholder{
            color: $color-dark;
          }
          &:focus {
            border-bottom-color: rgba($color: $color-dark, $alpha: 0.5);
          }
        }
        .select-base {
          background-image: url('../public/img/common/drop.png');
        }
        .footer {
          .agreement {
            label {
              .mark {
                border-color: $color-dark;
              }
              .mark-checked::after {
                background: $color-dark;
              }
              a {
                border-color: $color-dark;
              }
            }
          }
        }
      }
    }
    figure {
      position: relative;

      .text {
        left: 8%;
        top: 16%;

        h3 {
          font-size: 24px;
        }
        small {
          font-size: 12px;
        }
      }
    }
    &.electra {
      .container {
        min-height: auto;
      }
    }
    .container {
      padding: 0 24px 24px;

      .control-base {
        font-size: 14px;
      }
      h4 {
        font-size: 19px;
        margin: 1em 0;
      }
      .content {
        column-gap: 15px;
        row-gap: 15px;
        width: auto;
      }
      .footer {
        .agreement {
          font-size: 13px;
          margin: 20px 0 40px;

          span {
            line-height: 17px;
          }
        }
      }
    }
  }

  .top {
    padding: 20px 0;

    &.avenir {
      background-color: #000;
      color: $color-light;
    }
    &.electra {
      background:none;
      color:#000;
    }
    svg {
      fill: currentColor !important;
      margin: 0 auto !important;
    }
    span {
      display: block;
      font: 12px var(--font-headline);
      margin: 1em 0 24px;
      text-align: center;
    }
  }
  .miniprogram-code{
    background-color: $color-dark;
    padding:sizeMobile(80) 0;
    .title{
      width:80%;
      margin:0 auto;
      line-height:1;
      color:#fff;
      text-align: center;
      position: relative;
      max-width: none;
      &::after,
      &::before{
        content:'';
        width:28%;
        position: absolute;
        border-top:1px solid #fff;
        top:50%;
        left:0;
        transform: translateY(-50%);
      }
      &::after{
        right:0;
        left:initial;
      }
      h3{
        font:400 sizeMobile(32) $font-headline;
        margin:0;
      }
      p{
        margin:0;
        font-size:sizeMobile(26);
      }
    }
    .code{
      border:1px solid #fff;
      width:30%;
      max-width: none;
      padding:sizeMobile(10);
      margin:sizeMobile(30) auto 0;
      img{
        display:block;
      }
    }
  }
  :global(.mini-app) {
    .top {
      padding-bottom: calc($series-nav-height-xs + env(safe-area-inset-bottom));
    }
    .miniprogram-code {
      display: none;
    }
  }
}
