.home-wrap {
  .kv {
    height: calc(60vh - 43px);
  }
  .server {
    height: 40vh;
    padding:5% 10px 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .care-title {
      margin-bottom:3%;
      
      .en {
        color:#ed7422;
      }
      h2 {
        margin:0;
      }
    }
    .content {
      flex:1;
      justify-content: space-evenly;
      display: flex;
      gap: 10px;
      .item {
        flex:1;
        background: #f7f7f7;
        text-align: center;
        padding:5% 0;
        h2 {
          margin:0;
          font-family: var(--font-headline);
          font-size: 18px;
          &::after {
            content: "";
            display: block;
            margin:10px  auto;
            width: 10%;
            height: 2px;
            background: #ed7422;
          }
        }
        p {
          font-size: 13px;
        }
        svg {
          width: 60%;
          display: block;
          margin:0 auto;
          stroke:#ed7422;
          fill:#ed7422;
        }
      }
    }
  }
  .section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    img {
      width: calc(100vw + 2px);
      height: 100vh;
      object-fit: cover;
    }
    
    .content {
      position: absolute;
      left: 6.667vw;
      top: 6vh;
      color:#fff;

      h2 {
        margin:0;
        font-size:28px;
        font-family: var(--font-headline);
      }
      p {
        font-size: 20px;
      }
    }
    .swiper-wrap {
      position: absolute;
      width: 100vw;
      bottom: 20px;
      color:#fff;
      .swiper {
        width: 100vw;
        height:calc(100vh - env(safe-area-inset-bottom) - 50vh);
        margin-left: auto;
        margin-right: auto;
        padding:0 20px;
        box-sizing: border-box;
        align-items: flex-end;
      }
      .swiper-wrapper {
        height: 100%;
      }
      .swiper-pagination-bullet {
        background:#fff;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background:#ff5100;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          color:#fff;
          font-size: 26px;
        }
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        color:#fff;
        img {
          width: 30%;
          height: auto;
          margin:0 auto;
        }

        h2 {
          margin:10px 0;
          font-family: var(--font-headline);
          font-size: .6rem;
          span {
            font-family: var(--font-text);
            display: inline-block;
            margin:0 3px;
          }
        }
        p {
          font-size: .45rem;
        }
        .more {
          position: absolute;
          bottom:15%;
          height: 30px;
          line-height: 30px;
          background:#ff5100;
          display: inline-block;
          width: 60%;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          left:50%;
          transform: translateX(-50%);
          font-size: 14px;
          color:#fff;
          &::after {
            content: "";
            width: 8px;
            height: 8px;
            display: inline-block;
            border-right:1px solid #fff;
            border-top: 1px solid #fff;
            transform: rotate(45deg);
            margin-left:10px;
          }
        }
      }
    }
    &.enuity {
      // padding:20px;
      box-sizing: border-box;
      overflow: hidden;
      height: auto;
      a {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
      }
      .content {
        left:10vw;
        top:4vh;
        img {
          box-shadow:none;
          width: 40%;
        }
      }
      img {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 4px rgba(0,0,0,.5);
      }
      .items {
        position: absolute;
        width: 80%;
        height: 55%;
        left:10%;
        bottom: 5%;
        background-color: rgba(144,198,234,.7);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        border-radius: 10px;
        padding:10% 0;
        box-sizing: border-box;
        .item {
        
          text-align: center;
          h2 {
            margin:5px 0;
            font-size: 18px;
            font-family: var(--font-headline);
            span {
              font-family: var(--font-text);

              margin:0 3px;
            }

          }
          p {
            font-size: 13px;
            color:#666;
          }
          .icon {
            background:#fff;
            margin:0 auto;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            filter: grayscale(100%);
            img {
              width: 85%;
              height: auto;
              box-shadow: none;
              filter: brightness(0.4);
            }
          }
        }
      }
    } 
  }
}

@media (min-width: 768px) {
  .home-wrap {
    .kv {
       height: calc(60vh - 50px);
      .content {
        .subTitle {
          font-size: .4rem;
        }
        .title {
          font-size: .65rem;
          margin: 0;
  
        }

      }
    }
    .server {

      padding:4vh 0;
      width: 90%;
      margin:0 auto;
      .care-title {
        margin-bottom: 3vh;
        h2 {
          font-size: 1.5vw;
        }
        .en {
          font-size: .11rem;
        }
      }
      .content {
        gap: initial;
        flex:1;
        width: 90%;
        margin: 0 auto;
        justify-content: space-evenly;
        .item {
          width: 25%;
          padding:.01vh 0;
          transition: background-color .3s ease;
          display: flex;
          flex:none;
          justify-content: center;
          align-items: center;
       
          h2 {
            margin:0 0 1vh 0;
            font-size:.25rem;
            // font-size: calc(39px * 0.6);
            &::after {
              margin:.5vh auto;
            }
          }
          p {
            font-size: .15rem;
            // font-size: calc(25px * 0.6);
          }
          svg {
            width: 10vh;
            margin:0 1vw 0 0;
          }
          &:hover {
            background: #d9d9d9;
            cursor: pointer;
          }
        }
      }
    }
    .section {
      .content {
        left:8vw;
      }
      .swiper-wrap {
        bottom: 10px;
        .swiper {
          width: 90%;
          margin:0 auto;
          height: 40vh;
          padding:0 20px;
          .swiper-slide {
            margin-top:0 !important;
            h2 {
              font-size: .3rem;
            }
            p {
              font-size: .2rem;
            }
            img {
              width: 50px;
            }
            .more {
              margin-top:40px;
            }
          }

          .swiper-button-prev {
            left:0;
          }
          .swiper-button-next {
            right:0;
          }
        }
      }
      &.enuity {
        // padding: 20px;
        // 


        .content {
          left:calc(8vw);
          top:6vh;
          h2 {
            font-size: 24px;
          }

        }
        .items {
          width: 80%;
          background: none;
          height: auto;
          grid-template-columns: repeat(3,1fr);
          gap:10px 10%;
          left:10%;
          padding:10px 0;
          justify-content: center;
          .item {
            padding-left:10%;
            .icon {
              margin: 0 20px;
            }
            .copy {
              text-align: left;
              h2 {
                margin:0;
              }
            }
            h2 {
              font-size: .3rem;
            }
            p {
              font-size: .2rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .home-wrap {
    .server {
      // .care-title {
      //   h2 {
      //     font-size: 30px;
      //   }
      // }
      .content {
        .item {
          h2 {
          //  font-size: calc(39px * 0.7);
          }
          p {
           // font-size: calc(25px * 0.7);
          }
        }
      }
    }
    .section {  
      .content {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 22px;
        }
      }
      .swiper-wrap {
        width: 100%;
        overflow: hidden;
        .swiper {

          height: 38vh;
          overflow: hidden;
          .swiper-slide {
            .more {
              bottom: 20%;
            }

          }
        }
      }
      &.enuity {
        .content {
          h2 {
            font-size: 30px;
          }
          img {
            width:160px;
          }
        }
        .items {
          gap:5% 15%;
          bottom: 5%;
        }

      }
    }
  }
}

@media (min-width:1200px) {
  .home-wrap {
    .server {
      
      max-width: 1200px;
      // .care-title {
      //   h2 {
      //     font-size: 40px;
      //   }
      //   .en {
      //     font-size: 14px;
      //   }
      // }
    }
    .section {

      .content {
        h2 {
          font-size: 40px;
        }
        p {
          font-size: 32px;
        }
      }
      .content {
         width: 90%;
         max-width: 1200px;
         margin:0 auto;
         margin-left:50%;
         left:2vw;
         transform: translateX(-50%);
      }
      .swiper-wrap {
        .swiper {
           max-width: 1200px;
           width: 90%;

        }
      }
      &.enuity {
        // padding: 40px;
        .content {
          top:10vh;
          width: 90%;
          max-width: 1200px;
          margin:0 auto;
          margin-left:50%;
          transform: translateX(-50%);
          left:2vw;
          h2 {
            font-size: 40px;
          }
          img {
            width: 200px;
         }
        }
        .items {
          height: auto;
          max-width: 1200px;
          margin-left:50%;
          left:0;
          width: 80%;
          bottom: 8%;
          transform: translateX(-50%);

        }
      }
    }
  }
}



@media (min-width:1400px) {
  .home-wrap {
     
    .server {
      max-width: 1400px;
      // .care-title {
      //   h2 {
      //     font-size: 50px;
      //     margin:0;
      //   }
      //   .en {
      //     font-size: 18px;
      //   }
      // }
    }
    .section {
      .content {
        max-width: 1400px;
        left:0;
        h2 {
          font-size: 50px;
        }
        p {
          font-size: 40px;
        }
      }
      .swiper-wrap {
        .swiper {
          height: 33vh;
          max-width: 1400px;

        }
      }
      &.enuity {
        .content {
          max-width: 1400px;
          left:0;
          h2 {
            font-size: 50px;
          }
          img {
            width: 240px;
          }
          
        }
        .items {
          gap: 20% 10%;
          bottom: 10%;
        }
      }
    }
  
  }
}


// @media (max-height:500px) {
//   .home-wrap {
    
//     .server{
//       min-height: 150px;
//       padding:1vh 0;
//       .care-title {
//         margin-bottom: 1vh;
//         h2 {
//           font-size: 4vh;
//         }
//       }
//       .content {
       
//         .item {
//           display: flex;
//           justify-content: center;
//           svg {
//             width: 12vh;
//             margin:0 5vh 0 0 ;
//           }
//           h2 {
//             font-size: 3vh;
//           }
//         }
//       }
//     }
//   }
// }

// @media (height > 500px) and (height <= 750px) {
//   .home-wrap {
    
//     .server{
//       min-height: 150px;
//       padding:3vh 0;
//       .care-title {
//         margin-bottom: 2vh;
//         h2 {
//           font-size: 4vh;
//         }
//       }
//       .content {
       
//         .item {
//           display: flex;
//           justify-content: center;
//           svg {
//             width: 8vh;
//             margin:0 3vh 0 0 ;
//           }
//           h2 {
//             font-size: 3vh;
//           }
//         }
//       }
//     }
//   }
// }
// @media (max-width:767px){
//   @supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
//     .home-wrap {
//       .section {
//         .swiper-wrap {
//           .swiper {
//             height: 65vh;
//           }
//         }
//       }
//     }
//   }
// }
